
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>success</title>
</head>
<body>
    <div>
        <h3><strong> Payment Succsess</strong></h3>
        <a href="@Url.Action("Index", "Home")">Back to home</a>
    </div>
</body>
</html>
